body{
  margin-top: 10px;
}
#pesq #btn_pesq{
  color: red;
  width: 100px;
}
#btn_pesq{
  background: rgb(185, 189, 189);
}
#foto_user{
  align-items: flex-start;
  margin: 1rem;
  width: 35px;
  height: 35px;
  border-radius: 3px;
}
#botao_coment{
  background-color: rgb(103, 190, 16);
  color: black;
}
#divCard {
    /* background-color: black; */
    display: flex !important;
    flex-direction: column-reverse;
    justify-content: space-between;
}