body{
  margin-top: 10px;
}
#pesq #btn_pesq{
  color: red;
  width: 100px;
}
#btn_pesq{
  background: rgb(185, 189, 189);
}
#foto_user{
  align-items: flex-start;
  margin: 1rem;
  width: 35px;
  height: 35px;
  border-radius: 3px;
}
#botao_coment{
  background-color: rgb(103, 190, 16);
  color: black;
}
#divCard {
    /* background-color: black; */
    display: flex !important;
    flex-direction: column-reverse;
    justify-content: space-between;
}
#img_filme{
  max-width: 100%;
  height: auto;
}
#img_user{
  width: 30px;
  height: 30px;
}
/* 
#buttom_delete{
  width: 30px;
  height: 30px;
}
#div1{
  role: alert;
  ariaLive: assertive;
  ariaAtomic: true
}
#svgEdit{
  xmlns: "http://www.w3.org/2000/svg";
  width: 16px;
  height: 16px;
  fill: currentColor;
  viewBox: "0 0 16 16";
} */