<!DOCTYPE html>
<html lang="en">
  <%- include ('./layouts/head.ejs')%>

  <body id="body-pag-inicial">
        <div id="detalhes" class="container">

        <%- include('./layouts/detalhes')%> 
        <%- include('./layouts/comentarios')%>

        </div>
        
        <script src="../js/searchCommentsMovieIdDetail.js" defer></script>
        <script src="../js/createComment.js" defer></script>
        <script src="../js/destroyComment.js" defer></script>

  </body>
</html>
